		#tag 
		{
		   width: 100%;
		   position: absolute;
		   left: 0px;
		   top: 0px;
		   z-index: 10;
		   color: #000000;
		   font-weight: bold;
		   padding-top:350px;
		}
		#image-format
		{
			width:100%;
		}
		#tag-line
		{
			font-family: 'Bitter', serif;
			font-size:
		}
		#nav-format
		{
			position:fixed;
			width:98%;
		}
		#logo-format
		{
			padding-bottom:20px;
		}
	    #top-bar-format
		{
		   	padding-bottom:40px;
		}
		#panel-format
		{
			width:900px;
		}
		   #image, #developerdetails, #personalDetails {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
		   #image
		   {
			  border-radius: 0px;
			  border: 2px solid #000000; 
			  width:200px;
			  height:200px;		     
		   }
		   #developerdetails
		   {
			  width:500px;
			  padding-left:50px;
			  border-radius: 0px;
			  font-size:20px;
		   }
		   #personalDetails
		   {
			  padding-left:50px;
			  padding-top:140px;
			  border-radius: 0px;
		   }
		   #about-us
		   {
			   margin-top:200px;
		   }
		   #contact-details
		   {
			   margin-top:250px;
		   }
		   
		   * {margin: 0; padding: 0;}	   
		  .jumbotron 
		  { 
			background: #e0fcd4; color: #000; border-radius: 0px; 
		  } 
		  .jumbotron-sm 
		  { 
			padding-top: 24px; padding-bottom: 24px; 
		  } 
		  .jumbotron small 
		  { 
			color: #000; 
		  } 
		  .h1 small 
		  { 
			font-size: 24px; 
		  }
		  #example.example-price
		  {
			  padding-left:50px;
		  }
		  
		  #fb-like-share-button
		  {
			  padding-left:130px;
		  }
		  #example
		  {
			  padding-left:160px;  
		  }
		  #fb-like-share-button,#whats-app
		  {
			  padding-top: 12px;
		  }
		  #no-search
		  {
			 padding-left:500px;
		  }	
